<img id = "cartoon" src = "/assets/images/burger.png">
<br>
<br>

<h1>EAT-DA-BURGER!!</h1>
    <div id = "burger-container">
        <div class = "non-eaten">
            {{#each burgers}}
            {{#unless devoured}}
                <div>
                    <div class="name1">
                        <p class = "namez">{{id}}. {{burger_name}} </p> 
                    </div> 
                    <div class = "name2">       
                        <p><button class = "devoured" data-id = {{id}}> Devour It</button></p>
                    
                    </div>
                </div>
                
                
            {{/unless}}
            {{/each}}
        </div>

        <div class = "eaten">
            {{#each burgers}}
            {{#if devoured}}
                <div>
                    <p>{{id}}.  {{burger_name}}</p>
                </div>
            {{/if}}
            {{/each}}
        </div>
    </div>

<br>
<br>

<form class= "create-burger">

    <label for="burger">Burger Name:</label>
    <input type="text" id = "burger" name= "name">
    <button type="submit">Create that Awesomeness!</button>
</form>
