<img src = "/assets/images/burger.png">
<br>
<br>

<h1>EAT-DA-BURGER!!</h1>

<div class = "burger-container">
    <div class = "non-eaten">
        {{#each burgers}}
        {{#unless devoured}}
            <div>
                <p>{{id}}. {{burger_name}}</p>
            </div>
            <div>
                <button class = "devoured" data-id = {{id}}> Devour It</button>
            </div>
        {{/unless}}
        {{/each}}
    </div>

    <div class = "eaten">
        {{#each burgers}}
        {{#if devoured}}
            <div>
                <p>{{id}}.  {{burger_name}}</p>
            </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<br>
<br>

<form class= "create-burger">

    <label for="burger">Burger Name:</label>
    <input type="text" id = "burger" name= "name">
    <button type="submit">Create that Awesomeness!</button>
</form>
